<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<body>
    <main layout:fragment="content">
        

<div th:if="${!#lists.isEmpty(patentesVencidas)}">
    <h2 class="text-lg font-bold mb-4">🚨 Vehículos estacionados más de 4 horas</h2>
</div>

<div id="alert-container"
th:each="patente : ${patentesVencidas}" 
     class="flex items-center p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" 
     role="alert">
  
  <svg class="shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>

  <div class="ms-3 text-sm font-medium">
    ⚠️ La patente <b th:text="${patente}"></b> lleva más de 4 horas estacionada.
  </div>
</div>


    </main>
</body>

</html>